body {
  font-family: Roboto, sans-serif !important;
  color: #472B35 !important;
}

#topo {
  background-color:#472B36 !important;
}
#logo {
  height: 50px;
}

.link-cad {
    color: rgb(255,255,255);
    margin: 20px;
  }
  
  input {
    border: none;
    font-family: Roboto, sans-serif;
    color:#6A404F;
  }
  .menu {
    background: #F0C03B !important;

  }
  .menu a {color: #472B36 !important;}
  .menu a:hover {color: #FFF !important;}
  
  .navbar-dark .navbar-toggler {
    color: #472B36 !important;
    border-color: #472B36 !important;
    margin: 0 auto;
}
  .ico-cart {
    color: #F0C03B;
    font-size: 36px;
  }
  .rodape {
    background-color: #6A404F;
    font-family: Roboto, sans-serif;
    font-weight: 400;
  }
  .rodape h5{
    color: #F0C03B;
    font-family: Roboto, sans-serif !important;
    font-weight: bold !important;
    size: 38px !important;
  }
  .rodape li a{
    color: #FFF;
  }
  .rodape li a:hover{
    color: #F0C03B;
    text-decoration: none;
  }
  .assinatura{
    background-color: #472B35;
  }
  .botao-comprar {
    background-color: #F0C03B !important;
    color:#6A404F !important;
    border: none;
  }
  /* Utilizando o Not First-Child ele irá pular o primeiro elemento e nao aplicara o tamanho pre definido. */
 .thumb:not(:first-child) {
  max-width: 150px;
  max-height: 150px;
  margin:10px

 }